
{% extends "base.html" %}

{% block content %}
    
        <div class="gap"></div>
        <div class="container">
            <div class="row" data-gutter="60">
                <div class="col-md-4">
                    <h3>Welcome to iChat.mn</h3>
                </div>
                <div class="col-md-4">
                    <h3>Login</h3>
                    <form id="login"  method="post" enctype="multipart/form-data">
                        <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                            <label>Email</label>
                            <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" id="email"/>
                        </div>
                        <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                            <label>Password</label>
                            <input class="form-control" type="password" placeholder="my secret password" id="password"/>
                        </div>
                        <input class="btn btn-primary" type="button" value="Sign in"  id="signin" />
                    </form>
                </div>
                <div class="col-md-4">
                    <h3>New To iChat.mn?</h3>
                    <form id="add-user" method="post" enctype="multipart/form-data">
                        <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                            <label>Username</label>
                            <input class="form-control" placeholder="e.g. John Doe" type="text"  id="rusername"/>
                        </div>
                        <div class="form-group form-group-icon-left"><i class="fa fa-envelope input-icon input-icon-show"></i>
                            <label>Email</label>
                            <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text"  id="remail" />
                        </div>
                        <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                            <label>Password</label>
                            <input class="form-control" type="password" placeholder="my secret password" id="rpassword"/>
                        </div>
                        <input id ="add" class="btn btn-primary" type="button" value="Sign up for iChat.mn" />
                    </form>
                </div>
            </div>
        </div>

{% endblock %}
{% block scripting %}
    {{parent()}}
    <script type="text/javascript">
        
        $('#signin').click(function(){
           $.post("login.php", {
                email: $('#email').val(),
                password: $('#password').val()
                }, function (result) {
                    var arr = result.split('>');
                    var message = $.parseJSON(arr[1]);
                    if(message.message != 0){
                        window.location.replace("index.php");
                    }else{
                        alert("Wrong username password");
                    }
            });
        });
        $('#add').click(function(){
           $.post("user.php", {
                email: $('#remail').val(),
                username: $('#rusername').val(),
                password: $('#rpassword').val()
                }, function (result) {
                    console.log(result);
                    window.location.replace("index.php");
            });
        });

    </script>
{% endblock %}
